body{
				background-color: purple; 
			}
			header{
				background-color: pink; 
			}
			section{
				background-color: red;
			}
			

			#img{
				background-color: white;
				width:320px;
				height:205px;
				right: 150px;
				top: 70px;
			}
			#nav{
				background-color: red;
				box-shadow: 7px 7px 9px 0px black;
			}
			#main{
				background-color: green; 

			}
			#nome{
				font-weight: bold;	
				font-size: 17px;
				text-align: center;
			}
			#nome1{
				font-size: 17px;
				text-align: center;
			}
			#tres{
				background-color: orange; 
			}
			#meio{
				background-color: blue; 
			}
			#um{
				background-color: gray; 
			}
			#dois{
				background-color: turquoise; 
			}
			#quatro{
				background-color: brown; 
				flex-direction: column;
			}
			#k{
           			font-size: 205px;
				text-align: center;
			}
